.__pycache__/*
__pycache__/*

.*/__pycache__/*
*/__pycache__/*

**/__pycache__/
**/*.pyc
**/.vscode/*
**/.pytest_cache/*

.*.pyc
*.pyc

.*/.pyc
*/.pyc

#logfile
.logs
logs/*

#images
.images/*
images/*
.*/images/*
*/images/*
**/images/*
#migrations
.migrations/*
migrations/*

.*/migrations/*
*/migrations/*
**/migrations/

.gitignore

.data/*
data/*

.*/script/*